* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: arial, sans-serif;
  font-size: 14px;
}

.container {
  display: table;
  margin: 0 auto;
}

.heading {
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0;
}

.weight {
  padding-left: 165px;
}

.datepicker__class {
  width: 140px;
  height: 18px;
  margin-right: 60px;
}

.weight__class {
  width: 60px;
  height: 18px;
}

.kg__class {
  border: 1px solid #000;
  margin-right: 20px;
}

.History__class {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
}

.showData__class {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
  width: 500px;
}

.selector {
  width: 125px;
  margin-bottom: 20px;
}

.canvas__class {
  padding: 20px;
  border: 1px solid #000;
}

.small__display__box {
  padding: 30px 79.5px;
  margin-top: 10px;
  margin-right: 10px;
  border: 1px solid #000;
  display: inline-block;
  text-align: center;
  vertical-align: center;
}

.big__display__box {
  padding: 30px 105px;
  width: 500px;
  margin: 10px 0;
  border: 1px solid #000;
  text-align: center;
  vertical-align: center;
}

.weight__history {
  padding-right: 330px;
}

/*# sourceMappingURL=styles.css.map */
