@import "_variables";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: arial, sans-serif;
  font-size: 14px;
}

.container{
  display: table;
  margin: 0 auto;
}

.heading{
  font-size: 30px;
  font-weight: bold;
  margin: $margin 0;
}

.weight{
  padding-left: 165px;
}

.datepicker__class{
  width: 14*$width;
  height: $height;
  margin-right: 3*$margin;
}

.weight__class{
  width: 6*$width;
  height: $height;
}
.kg__class{
  border: 1px solid $border__black;
  margin-right: $margin;
}

.History__class{
  font-size: $height;
  font-weight: bold;
  margin: $margin 0;
}

.showData__class{
  display: flex;
  justify-content: space-between;
  border: 1px solid $border__black;
  width: $bigwidth;
}

.selector{
  width: 12.5*$width;
  margin-bottom: $margin;
}

.canvas__class{
  padding: $margin;
  border: 1px solid $border__black;
}

.small__display__box{

  padding: 30px 79.5px;
  margin-top: $margin/2;
  margin-right: $margin/2;
  border: 1px solid $border__black;
  display: inline-block;
  text-align: center;
  vertical-align: center;
}

.big__display__box{
  padding: 30px 105px;
  width: $bigwidth;
  margin: $margin/2 0;
  border: 1px solid $border__black;
  text-align: center;
  vertical-align: center;
}

.weight__history{
  padding-right: 330px;
}
